doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Buy Me a Coffee
		link(rel="stylesheet", href="style.css")
	body
		.app
			.header
				.header__icon
					a.header__link-icon(href="#")
						img.header__icon-svg(src="assets/icons/Icon_header_coffie.svg", alt="")
				.header__menu
					a.header__explore-us(href="#") FAQ
					a.header__explore-us(href="#") Explore
				.header__register
					a.header__login(href="#") Log in
					a.header__sign(href="#") Sign up 